{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  Safeway Tailgate - About Us
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<div class="container pt-4 pb-3">
  <div class="row">
    <div class="container mt-4">
      <h1>
        <span class="text-light">About</span>
        <span class="yellow-text">US</span>
      </h1>
    </div>
  </div>
</div>
<div class="container pb-5 py-3">
   <div class="main-about-us">
    <!-------------------------------------- First Year --------------------------------------->
    <div class="about-us mt-5">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="year mt-2">2004</span>
          </span>
        </div>
      </div>
      <div class="about-us-content">
        <p class="description">
          {% blocktrans %}
            Safeway Tailgate Co., Ltd. was established on January 8, 2004 with an initial registered capital of      
            5 million Baht. Initially, the company's headquarters was located in Nong Ree Subdistrict, Mueang District, 
            Chonburi Province, with an area of 800 square meters, and have been audited the 
            registration be progressed to the quality assurance standard ISO9001 : 2000.
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <!-------------------------------------------- end experience section ---------------------------------------->

    <!-------------------------------------------- start experience section ----------------------------------------->
    <div class="about-us">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="year mt-2">2013</span>
          </span>
        </div>
      </div>
      <div class="about-us-content">
        <p class="description mt-3">
          {% blocktrans %}
            The company has changed its headquarters to Nong Chak Subdistrict, Ban Bung District, 
            Chonburi Province, with an area of 11,200 square meters. 
            The registered capital has also been increased to 20 million Baht.
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <!---------------------------------------------- end experience section -------------------------------------------->

    <!---------------------------------------------- start experience section ------------------------------------------->
    <div class="about-us">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="year mt-2">2014</span>
          </span>
        </div>
      </div>
      <div class="about-us-content">
        <p class="description mt-3">
          {% blocktrans %}
            We have started expanding our logistics channels by exporting our products to various countries such 
            as Cambodia, Malaysia, Laos, Myanmar, Vietnam, Indonesia, and Taiwan.
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <!--------------------------------------------- end experience section ---------------------------------------->

    <!--------------------------------------------- start experience section --------------------------------------->
    <div class="about-us">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="year mt-2">2023</span>
          </span>
        </div>
      </div>
      <div class="about-us-content">
        <p class="description mt-3">
          {% blocktrans %}
            We have started incorporating technology to enhance production efficiency, and in the future, 
            we remain committed to continuous development of our company.
          {% endblocktrans %}
       </p>
      </div>
    </div>
    <!------------------------------------------ end experience section ----------------------------------------------->
  </div>

 <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row pt-4">
    <div class="col-2"></div>
    <div class="col-8 text-light align-content-center text-start">
      {% blocktrans %}
        We remain committed to developing products in various aspects, including quality and on-time 
        delivery to meet customer requirements to the highest degree. Furthermore, we adhere to ISO standards in our 
        manufacturing processes to ensure that customers receive the highest quality work. We strive to enhance the 
        capabilities of our company to better accommodate customer needs and provide excellent service.
      {% endblocktrans %}
  </div>
    <div class="col-2"></div>
  </div>
   <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row py-4 pt-5 ">
    <div class="col-2"></div>
    <div class="col-8 text-light align-content-center text-center">
        <h1><span class="yellow-text">SAFE</span> CONVENIENT SINCERE</h1> 
    </div>
    <div class="col-2"></div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row pt-4">
    <div class="col-3">
      <p class="yellow-text text-end">SAFE</p>
    </div>
    <div class="col-7 text-light align-content-center text-start">
        <p>
          {% blocktrans %}
          The products we manufacture adhere to standards to ensure 
          that customers receive safe 
          and reliable products. Customers can have confidence in the safety of our products during their usage.
          {% endblocktrans %}
        </p>
        <div class="col-2"></div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row pt-4">
    <div class="col-3">
      <p class="yellow-text text-end">CONVENIENT</p>
    </div>
    <div class="col-7 text-light align-content-center text-start">
      <p>{% blocktrans %}Customers should experience increased convenience when using our products.{% endblocktrans %}</p>
      <div class="col-2"></div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row pt-4">
    <div class="col-3">
      <p class="yellow-text text-end">SINCERE</p>
    </div>
    <div class="col-7 text-light align-content-center text-start">
      <p>{% blocktrans %}We provide honest and straightforward service to our customers, ensuring that they feel at ease when purchasing our products.{% endblocktrans %}</p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<br>
<br>
{% endblock %}