{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate - After Sales Service
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/after_sales_service.css' %}">

<div class="container pt-4 pb-3">
	<div class="row">
	  <div class="container mt-4">
		<h1>
		  <span class="white-text">After Sales</span>
		  <span class="yellow-text">Services</span>
		</h1>
	  </div>
	</div>
</div>
<div class="container">
    <ul class="service">
        <li>
			<div class="service-badge">
				<i class="fa-solid fa-shield-halved"></i>
			</div>
			<div class="service-panel">
				<div class="service-heading yellow-text">
					<h4 class="service-title">Warranty</h4>
				</div>
				<div class="service-body white-text">
					<p> 
						Safeway Tailgate offers a warranty against any abnormal functioning with your Safeway Tailgate product(s).
						Please note that terms and conditions of the warranty may vary depending on the conditions and product. 
						<a class="more-info tex-decoration-none" href="{% url 'warranty' %}" id="style-2" data-replace="herek">
							<span>More info</span>
						</a>
					</p>
				</div>
			</div>
        </li>
        <li class="service-inverted">
          <div class="service-badge">
			<i class="fa-solid fa-car-side"></i>
		</div>
		<div class="service-panel">
			<div class="service-heading yellow-text">
				<h4 class="service-title">Onsite Services</h4>
			</div>
			<div class="service-body white-text">
				<p>
					Safeway Tailgate offers onsite service to provide assistance for our customers, 
					ensuring convenience for any operational issues. 
					Please note that terms and conditions of the onsite service may vary depending on the conditions and product.
					<a class="more-info tex-decoration-none" href="{% url 'onsite' %}" id="style-2" data-replace="herek">
						<span>More info</span>
					</a>
				</p>
			</div>
          </div>
        </li>
        <li>
			<div class="service-badge">
				<i class="fa-solid fa-briefcase"></i>
			</div>
			<div class="service-panel">
				<div class="service-heading yellow-text">
					<h4 class="service-title">Car Inspection Services</h4>
				</div>
				<div class="service-body white-text">
					<p>
						Safeway Tailgate provides a free car inspection service to our customers. However, please 
						note that this service is available only at our company, Safeway Tailgate Co., Ltd.
						This service is specific only to <span class="text-danger">tail gate & tail lift</span> product(s).
					</p>
				</div>
			</div>
        </li>
		<li class="service-inverted">
			<div class="service-badge"><i class="fa-solid fa-oil-can"></i></div>
			<div class="service-panel">
			  <div class="service-heading yellow-text">
				<h4 class="service-title">Lubricant Services</h4>
			  </div>
			  <div class="service-body white-text">
				<p>
					Safeway Tailgate provides a free lubricant service through the lifespan of your vehicle.
					However, please note that this service is available only at our company, Safeway Tailgate Co., Ltd.
					This service is specific only to <span class="text-danger">tail gate & tail lift</span> product(s).
				</p>
			  </div>
			</div>
		  </li>
    </ul>
</div>
{% endblock %}
