{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate - After Sales Service
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/after_sales_service.css' %}">

<div class="container pt-4 pb-3">
	<div class="row">
	  <div class="container mt-4">
		<h1>
		  <span class="text-light">After Sales</span>
		  <span class="yellow-text">Services</span>
		</h1>
	  </div>
	</div>
</div>
<div class="container">
    <ul class="service">
        <li>
			<div class="service-badge">
				<i class="fa-solid fa-shield-halved"></i>
			</div>
			<div class="service-panel">
				<div class="service-heading yellow-text">
					<h4 class="service-title">2 Years Warranty</h4>
				</div>
				<div class="service-body white-text">
					<p>
						If the product experiences any abnormal functioning or defects, 
						we will offer a warranty coverage for a period of 2 years. 
						This warranty applies to products specifically from Safeway Tailgate. 
						Please note that the terms and conditions of the warranty may vary depending on the specific 
						circumstances or conditions of product usage.
					</p>
				</div>
			</div>
        </li>
        <li class="service-inverted">
          <div class="service-badge">
			<i class="fa-solid fa-car-side"></i>
		</div>
		<div class="service-panel">
			<div class="service-heading yellow-text">
				<h4 class="service-title">Onsite Services</h4>
			</div>
			<div class="service-body white-text">
				<p>
					We offers Onsite Service to provide off-site assistance for our customers, 
					ensuring convenience and prompt resolution for any operational issues they may encounter. 
					Our Onsite Service allows customers to receive efficient support and troubleshooting directly at their location.
				</p>
			</div>
          </div>
        </li>
        <li>
			<div class="service-badge">
				<i class="fa-solid fa-briefcase"></i>
			</div>
			<div class="service-panel">
				<div class="service-heading yellow-text">
					<h4 class="service-title">Technical Support Services</h4>
				</div>
				<div class="service-body white-text">
					<p>
						We provide a free car inspection service to our customers. However, please 
						note that this service is available only at our company, Safeway Tailgate Co., Ltd. 
						Customers are required to bring their vehicles to our designated location for the inspection.
					</p>
				</div>
			</div>
        </li>
		<li class="service-inverted">
			<div class="service-badge"><i class="fa-solid fa-oil-can"></i></div>
			<div class="service-panel">
			  <div class="service-heading yellow-text">
				<h4 class="service-title">Lubricant Services</h4>
			  </div>
			  <div class="service-body white-text">
				<p>
					We provide a free lubricant service throughout the lifespan of your vehicle, aiming to enhance performance for the benefit of our customers.
				</p>
			  </div>
			</div>
		  </li>
    </ul>
</div>
{% endblock %}
