{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <!-----------------------------------------------------Carousel----------------------------------------------------------->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="pic1">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="pic2">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="{% static 'images/3.jpg' %}" class="d-block w-100" alt="pic3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  <!-------------------------------------------------Infomation---------------------------------------------------------------->
  <div class="container text-light" style="max-width: 720px " >
      <header class="py-4 mt-5 mb-4 pt-5 text-center">
        <div class="animation-wrapper">
          <div class="animation yellow-text">
            SAFE
          </div>
          <div class="animation">  
            <span>CONVENIENT SINCERE</span>
          </div>
        </div>
      </header>
  </div>
  <div class="container p-3">
    <div class="row text-light py-5">
      <div class="col-lg-6 my-2">
        <img src="{% static 'images/4.png' %}" class="d-block w-100 shadow" alt="pic1">
      </div>
      <div class="col-lg-6">
        <h2>Header</h2>
        <p class="text-start">
          We focus on carefully selecting materials and components for manufacturing to achieve lightweight yet high-performance products. This enhances the efficiency of their usage. This is achieved through the utilization of cutting-edge computer-aided design software, allowing the company to reduce the weight of components without compromising strength. As a result, customers can enjoy long-term, trouble-free operations with highly efficient performance for many years.
        </p>
      </div>
    </div>
    <div class="row text-light py-5">
      <div class="col-lg-6">
        <h2>Header</h2>
        <p class="text-start">
          Our products have a maximum lifting capacity of up to 2,000 kilograms, and each order is custom-manufactured to meet the specific requirements of our customers. This enables us to tailor our products to precisely match the needs of our customers, ensuring optimal effectiveness. Our knowledgeable team, who have undergone extensive training, are available to listen to your requirements and provide suitable recommendations. They will design products that align perfectly with your specific needs.
        </p>
        <a class="btn fuller-button yellow" href="#" role="button">READ MORE</a>
      </div>
      <div class="col-lg-6 my-2">
        <img src="{% static 'images/4.png' %}" class="d-block w-100 shadow" alt="pic1">
      </div>
    </div>
    <div class="row text-light py-5">
      <div class="col-lg-6 my-2">
        <img src="{% static 'images/4.png' %}" class="d-block w-100 shadow" alt="pic1">
      </div>
      <div class="col-lg-6">
        <h2>Header</h2>
        <p class="text-start">
          We also produce air cooler units for both indoor and outdoor use. These units are designed to dissipate heat from buildings or factories that experience excessive heat or have machinery that generates high temperatures. They are also suitable for buildings with limited air ventilation, including factories with a large number of employees. Therefore, this Air cooler is capable of addressing these issues as well.
        </p>
        <a class="btn fuller-button yellow" href="#" role="button">READ MORE</a>
        
      </div>
    </div>
  </div>
{% endblock %}