{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate - Tail Lift & Tail Gate
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Taillift.css' %}">
<div class="container pb-5">
  <div class="row">
    <div class="container mt-5 text-center">
      <h1>
        {% for word in header %}
          {% if forloop.counter0|divisibleby:2 %}
            <span class="white-text">{{word}}</span>
          {% else %}
            <span class="yellow-text">{{word}}</span>
          {% endif %}
        {% endfor %}
      </h1>
    </div>
  </div>
</div>
<div class="container">
  {% for product in products %}
  <article class="postcard dark">
    <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
    <div class="postcard__text px-4 pt-2">
      <h1 class="postcard__title yellow-text">{{product}}</h1>
      <div class="postcard__subtitle">
        <i class="fas fa-calendar-alt fa-xs mr-2"></i>
        <span class="small"> Mon, July 3 2023</span>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{product.description}}</div>
      <ul class="postcard__tagbox">
        <p class="text-end">SAFEWAY TAILGATE CO.,LTD.</p>
      </ul>
    </div>
  </article>
{% endfor %}
</div>
{% endblock %}