{% extends "base/base.html" %}
{% load static %}
{% load mptt_tags %}

{% block title %}
  Safeway Tailgate - Tail Lift & Tail Gate
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Taillift.css' %}">
<div class="container pb-5">
  <div class="row">
    <div class="container mt-5 text-center">
      <h1>
        <span class="text-light">Tail Gate</span>
        <span class="yellow-text"> & Tail Lift</span>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  {% recursetree types %}
  <article class="postcard dark">
    <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
    <div class="postcard__text px-4 pt-2">
      <a class="stretched-link text-decoration-none"  href="{% url 'size' type=node.name %}">
        <h1 class="postcard__title yellow-text">{{node.name}}</h1>
      </a>
      <div class="postcard__subtitle">
        <i class="fas fa-calendar-alt fa-xs mr-2"></i>
        <span class="small"> Mon, July 3 2023</span>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{node.description}}</div>
      <p class="text-end">SAFEWAY TAILGATE CO.,LTD.</p>
    </div>
  </article>
  {% endrecursetree %}
</div>
<!--------------------------------------------------------------------------------------------------------------------->
{% endblock %}