.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
.table {
    background-color: #f2c01b; /* Yellow tone */
}
.table th {
    background-color: #fbd300; /* Yellow tone for table header */
}