{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate - About Us
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<div class="container pb-5 py-3">
  <div class="row pb-4">
    <div class="container mt-4">
      <h1>
        <span class="text-light">ABOUT</span>
        <span class="yellow-text">US</span>
      </h1>
    </div>
  </div>
   <!--------------------------------------------------------------------------------------------------------------------->
   <div class="main-timeline">
    <!-------------------------------------- start experience section --------------------------------------->
    <div class="timeline mt-5">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">2 Years</span>
            <span class="year">2013</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
        </p>
      </div>
    </div>
    <!-------------------------------------------- end experience section ---------------------------------------->

    <!-------------------------------------------- start experience section ----------------------------------------->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">1 Years</span>
            <span class="year">2015</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
        </p>
      </div>
    </div>
    <!---------------------------------------------- end experience section -------------------------------------------->

    <!---------------------------------------------- start experience section ------------------------------------------->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">2 Years</span>
            <span class="year">2016</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
        </p>
      </div>
    </div>
    <!--------------------------------------------- end experience section ---------------------------------------->

    <!--------------------------------------------- start experience section --------------------------------------->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">2 Years</span>
            <span class="year">2018</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
        </p>
      </div>
    </div>
    <!------------------------------------------ end experience section ----------------------------------------------->
  </div>

 <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row pt-4">
    <div class="col-2"></div>
    <div class="col-8 text-light align-content-center text-start">
      <span class="me-5"></span> We remain committed to developing products in various aspects, including quality and on-time 
      delivery to meet customer requirements to the highest degree. Furthermore, we adhere to ISO standards in our 
      manufacturing processes to ensure that customers receive the highest quality work. We strive to enhance the 
      capabilities of our company to better accommodate customer needs and provide excellent service.
  </div>
    <div class="col-2"></div>
  </div>
   <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row py-4">
    <div class="col-2"></div>
    <div class="col-8 text-light align-content-center text-center">
        <h1><span class="yellow-text">SAFE</span> CONVENIENT SINCERE</h1> 
    </div>
    <div class="col-2"></div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row pt-4">
    <div class="col-3">
      <p class="yellow-text text-end">SAFE</p>
    </div>
    <div class="col-7 text-light align-content-center text-start">
        <p>The products we manufacture adhere to standards to ensure 
      that customers receive safe 
      and reliable products. Customers can have confidence in the safety of our products during their usage.
        </p>
        <div class="col-2"></div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row pt-4">
    <div class="col-3">
      <p class="yellow-text text-end">CONVENIENT</p>
    </div>
    <div class="col-7 text-light align-content-center text-start">
      <p>Customers should experience increased convenience when using our products.</p>
      <div class="col-2"></div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row pt-4">
    <div class="col-3">
      <p class="yellow-text text-end">SINCERE</p>
    </div>
    <div class="col-7 text-light align-content-center text-start">
      <p>We provide honest and straightforward service to our customers, ensuring that they feel at ease when purchasing our products.</p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<br>
<br>
{% endblock %}