{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate - About Us
{% endblock %}

{% block content %}
<div class="container">
    <br><br><br>
    <h2 class="text-light">About Us</h2>
    <br><br><br>
    <h2 class="text-light">About Us</h2>
    <br><br><br>
    <h2 class="text-light">About Us</h2>
    <br><br><br>
    <h2 class="text-light">About Us</h2>
    <br><br><br>
    <h2 class="text-light">About Us</h2>
    <br><br><br>
    <h2 class="text-light">About Us</h2>
    <br><br><br>
    <h2 class="text-light">About Us</h2>
    <br><br><br>
    <h2 class="text-light">About Us</h2>
</div>
{% endblock %}