{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate - After Sales Service
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/after_sales_service.css' %}">
<div class="container pb-5">
  <div class="row">
    <div class="container mt-4">
      <h1>
        <span class="text-light">After Sales</span>
        <span class="yellow-text">Service</span>
      </h1>
    </div>
  </div>
     <!--------------------------------------------------------------------------------------------------------------------->
     <div class="row">
        <div class="col-5"></div>
     <div class="col-7 text-light align-content-center text-start">
      Exclusively for products purchased from Safeway Tailgate Co., Ltd. 
      If the product experiences any abnormal functioning or defects, 
      we will offer a warranty coverage for a period of 2 years. 
      This warranty applies to products specifically from Safeway Tailgate Co., Ltd. 
      The warranty ensures that we take responsibility for repairing or replacing the 
      faulty product within the designated time frame. Please note that the terms and 
      conditions of the warranty may vary and limitations may apply, depending on the specific 
      circumstances or conditions of product usage.
      </div>
    </div>
         <!--------------------------------------------------------------------------------------------------------------------->
         <div class="row pt-4">
          <div class="col-7 text-light align-content-center text-start">Safeway Tailgate Co., Ltd. offers Onsite Service to provide off-site assistance for our customers, 
            ensuring convenience and prompt resolution for any operational issues they may encounter. 
            Our Onsite Service allows customers to receive efficient support and troubleshooting directly at their location.
          </div>
         <div class="col-5"></div>
        </div>
          <!--------------------------------------------------------------------------------------------------------------------->
          <div class="row pt-4">
            <div class="col-5"></div>
         <div class="col-7 text-light align-content-center text-start">
          We provide a free car inspection service to our customers. However, please 
          note that this service is available only at our company, Safeway Tailgate Co., Ltd. 
          Customers are required to bring their vehicles to our designated location for the inspection.
          </div>
        </div>
          <!--------------------------------------------------------------------------------------------------------------------->
          <div class="row pt-4">
            <div class="col-7 text-light align-content-center text-start">We provide a free service of lubricant oil change and 
              grease throughout the lifespan of your vehicle, aiming to enhance performance for the benefit of our customers.
            </div>
           <div class="col-5"></div>
          </div>
</div>
<div class="timeline">

	<!--first-->
	<div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
		<div class="timeline__event__icon ">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date"></div>
		<div class="timeline__event__content w-75">
			<div class="timeline__event__title">
				Super Mario Brothers
			</div>
			<div class="timeline__event__description">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
			</div>
		</div>
	</div>

	<!--second-->

	<div class="timeline__event animated fadeInUp delay-2s timeline__event--type1">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date"></div>
		<div class="timeline__event__content w-75">
			<div class="timeline__event__title">
				Super Mario Bros: The Lost Levels
			</div>
			<div class="timeline__event__description">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
			</div>
		</div>
	</div>

	<!--third-->

	<div class="timeline__event animated fadeInUp delay-1s timeline__event--type1">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date"></div>
		<div class="timeline__event__content w-75">
			<div class="timeline__event__title">
				Super Mario Bros. 2
			</div>
			<div class="timeline__event__description">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
			</div>

		</div>
	</div>

	<!--forth-->

	<div class="timeline__event animated fadeInUp timeline__event--type1">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date"></div>
		<div class="timeline__event__content w-75">
			<div class="timeline__event__title">
				Super Mario Bros. 3
			</div>
			<div class="timeline__event__description">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}