{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate - Contact Us
{% endblock %}

{% block content %}
<div class="container pb-5">
  <div class="row">
    <div class="container mt-4">
      <h1>
        <span class="text-light">Contact</span>
        <span class="yellow-text">US</span>
      </h1>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------->
  <div class="row mt-3">
    <p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d970.6666485296684!2d101.18209613000802!3d13.308755271353386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d2d47bcf5b449%3A0xfba807716f27f6b1!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5gOC4i-C4n-C5gOC4p-C4ouC5jCDguYDguJfguKXguYDguIHguJcg4LiI4Liz4LiB4Lix4LiU!5e0!3m2!1sth!2sth!4v1688092625554!5m2!1sth!2sth" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </p>
  </div>
</div>
{% endblock %}