{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Safeway Tailgate
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-----------------------------------------------------Carousel----------------------------------------------------------->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'images/1.jpg' %}" class="d-block w-100" alt="pic1">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="pic2">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'images/3.jpg' %}" class="d-block w-100" alt="pic3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-------------------------------------------------Infomation---------------------------------------------------------------->
    <div class="container text-light" style="max-width: 720px " >
        <header class="py-4 mt-5 mb-4 pt-5 text-center">
            <h2><span class="yellow-text">SAFE</span>    CONVENIENT    SINCERE</h2> 
        </header>
        <br><br>
        <p class="text-center">
            Our products have a maximum lifting capacity of up to 2,000 kilograms, and each order is custom-manufactured to meet the specific requirements of our customers. This enables us to tailor our products to precisely match the needs of our customers, ensuring optimal effectiveness. Our knowledgeable team, who have undergone extensive training, are available to listen to your requirements and provide suitable recommendations. They will design products that align perfectly with your specific needs.
        </p><br><br><br><br><br>
        <p>
            There are multiple ways to fix navbar or header on top of page to stay always visible. 
            In this example we illustrate how to add fixed-top class when page scolled. 
            To see the difference between normal and fixed top navigation menu, just scroll. 
            Keep in mind, This will work only for desktop screens. But still you can customize our code example.
        </p><br><br><br><br><br><br>
        <p>
            There are multiple ways to fix navbar or header on top of page to stay always visible. 
            In this example we illustrate how to add fixed-top class when page scolled. 
            To see the difference between normal and fixed top navigation menu, just scroll. 
            Keep in mind, This will work only for desktop screens. But still you can customize our code example.
        </p>
    </div>
    <div class="container">
        <div class="row text-light text-center">
            <div class="col-md-6">
                <p>Hi</p>
            </div>
            <div class="col-md-6">
                <p>
                    Hi
                </p>
            </div>
        </div>
    </div>
{% endblock %}