/* Button Effect */
.fuller-button {
    color: #f8f9fa;
    background: none;
    border-radius: 30px;
    letter-spacing: 0.35em;
    font-size: 15px;
}
.fuller-button.yellow {
  border: #fbd300 solid 2px;
}
.fuller-button.yellow:hover {
  background-color: #fbd300;
}
.bigsize{
  font-size: 75px;
}
.alert-error{
  background-color: #f8d7da;
}