/* Button Effect */
.fuller-button {
  color: #f8f9fa;
  background: none;
  border-radius: 0;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  -webkit-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}
.fuller-button.yellow {
  box-shadow: inset 0 0 1em #fbd30080, 0 0 1em #fbd30080;
  border: #fbd300 solid 2px;
}
.fuller-button.yellow:hover {
  background-color: #fbd300;
  box-shadow: inset 0 0 0 #fbd30080, 0 0 1.5em #fbd300b3;
}
/* Text Effect */
.animation-wrapper{
    text-align:center;
    font-weight:300;
    font-size:32px;
    overflow:hidden;
}
.animation {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
.animation:first-of-type { 
    animation: showup 20s infinite;
  }
  
.animation:last-of-type {
    width:0px;
    animation: reveal 20s infinite;
  }
  
.animation:last-of-type span {
    margin-left:-355px;
    animation: slidein 20s infinite;
  }
  
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:320px;}
    80% {opacity:1;}
    100% {opacity:0;width:320px;}
}
